<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-6 card p-4 mt-5 shadow">
            <h1 class="text-center mb-3">Registrar</h1>
            <hr><br>
            {{{message}}}
            <form method="POST" action="/register">
                <div class="mb-3">
                    <label for="username" class="form-label">Nome de usuário <strong class="text-danger">*</strong></label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email <strong class="text-danger">*</strong></label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Senha <strong class="text-danger">*</strong></label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="mb-2 text-small">
                    <small><a href="/login" class="text-muted">Já tem uma conta? Faça login aqui</a></small>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark"><strong>Registrar</strong></button>
                </div>
            </form>
        </div>
    </div>
</div>